<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./products/css/style.css">
    <link rel="stylesheet" href="./products/css/layout.css">
    <title>Document</title>
</head>

<body>
    <header id="header__index">
        <div class="wrapper">
            <div class="container">
                <a href="#">
                    <div class="logo">
                        <img src="" alt="LOGO">
                    </div>
                </a>
                <form action="" class="search-bar">
                    <input type="text" placeholder="Searh ecommerce...">
                    <button>search</button>
                </form>
                <ul class="links flex">
                    <li><a href="about-us">about us</a></li>
                    <li><a href="contact-us">contact us</a></li>
                    <li><a href="#">link 1</a></li>
                    <li><a href="#">link 2</a></li>
                </ul>
                <button class="toggle-button">Menu</button>
            </div>
        </div>

    </header>
    <section id="cover"></section>
    <aside>
        <a href="#">

            <div class="logo">
                <img src="" alt="LOGO">
            </div>
        </a>
        <ul class="links">
            <li><a href="about-us">about us</a></li>
            <li><a href="contact-us">contact us</a></li>
            <li><a href="#">link 1</a></li>
            <li><a href="#">link 2</a></li>
        </ul>
        <button id="side-bar-collapse">&#10006;</button>
    </aside>
    <section id="slide-show">
        <div class="wrapper">
            <div class="container">

                <div class="slides">
                    <div class="slide"><img src="/imgs/utilities/dummy-image.png" alt="Image 1"></div>
                    <div class="slide"><img src="/imgs/utilities/dummy-image3.png" alt="Image 2"></div>
                    <div class="slide"><img src="/imgs/utilities/dummy-image2.png" alt="Image 3"></div>
                    <!-- Add more slides as needed -->
                </div>
                <div class="navigation">
                    <span class="dot"></span>
                    <span class="dot"></span>
                    <span class="dot"></span>
                    <!-- Add more navigation dots for additional slides -->
                </div>


            </div>
        </div>

    </section>
    <main id="main__index">
        <section id="allsubjects">
            <div class="wrapper">
                <a href="#">
                    <h2 class="section_title">All Subjects</h2>
                </a>
                <div class="container grid col-3">
                    <div class="cluster-card">
                        <h3 class="cluster_title">Maths</h3>
                        <div class="cards">
                            <div class="card">
                                <div class="img"><img src="/imgs/utilities/dummy-image.png"></div>
                                <div class="info">
                                    <h3 class="card_title">item</h3>
                                </div>
                            </div>
                            <div class="card">
                                <div class="img"><img src="/imgs/utilities/dummy-image.png"></div>
                                <div class="info">
                                    <h3 class="card_title">item</h3>
                                </div>
                            </div>
                            <div class="card">
                                <div class="img"><img src="/imgs/utilities/dummy-image.png"></div>
                                <div class="info">
                                    <h3 class="card_title">item</h3>
                                </div>
                            </div>
                            <div class="card">
                                <div class="img"><img src="/imgs/utilities/dummy-image.png"></div>
                                <div class="info">
                                    <h3 class="card_title">item</h3>
                                </div>
                            </div>
                        </div>
                        <a href="#" class="cluster_url">see more </a>
                    </div>
                    <div class="cluster-card">
                        <h3 class="cluster_title">Maths</h3>
                        <div class="cards">
                            <div class="card">
                                <div class="img"><img src="/imgs/utilities/dummy-image.png"></div>
                                <div class="info">
                                    <h3 class="card_title">item</h3>
                                </div>
                            </div>
                            <div class="card">
                                <div class="img"><img src="/imgs/utilities/dummy-image.png"></div>
                                <div class="info">
                                    <h3 class="card_title">item</h3>
                                </div>
                            </div>
                            <div class="card">
                                <div class="img"><img src="/imgs/utilities/dummy-image.png"></div>
                                <div class="info">
                                    <h3 class="card_title">item</h3>
                                </div>
                            </div>
                            <div class="card">
                                <div class="img"><img src="/imgs/utilities/dummy-image.png"></div>
                                <div class="info">
                                    <h3 class="card_title">item</h3>
                                </div>
                            </div>
                        </div>
                        <a href="#" class="cluster_url">see more </a>
                    </div>

                    <div class="cluster-card">
                        <h3 class="cluster_title">Web Developement</h3>
                        <div class="cards">
                            <div class="card">
                                <div class="img"><img src="/imgs/utilities/dummy-image.png"></div>
                                <div class="info">
                                    <h3 class="card_title">HTML</h3>
                                </div>
                            </div>
                            <div class="card">
                                <div class="img"><img src="/imgs/utilities/dummy-image.png"></div>
                                <div class="info">
                                    <h3 class="card_title">CSS</h3>
                                </div>
                            </div>
                            <div class="card">
                                <div class="img"><img src="/imgs/utilities/dummy-image.png"></div>
                                <div class="info">
                                    <h3 class="card_title">JS</h3>
                                </div>
                            </div>
                            <div class="card">
                                <div class="img"><img src="/imgs/utilities/dummy-image.png"></div>
                                <div class="info">
                                    <h3 class="card_title">PHP</h3>
                                </div>
                            </div>
                        </div>
                        <a href="#" class="cluster_url">see more </a>
                    </div>

                </div>
            </div>


        </section>
        <section>
            <div class="wrapper">
                <div class="container">

                    <div class="cluster-cards-3">
                        <h3 class="cluster_title">cluster-1</h3>
                        <div class="cards">
                            <div class="card">
                                <div class="img">

                                    <img src="/imgs/utilities/dummy-image.png" alt="">
                                </div>
                                <div class="info">
                                    <div class="desc">



                                        <p>item</p>

                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="img">

                                    <img src="/imgs/utilities/dummy-image.png" alt="">
                                </div>
                                <div class="info">
                                    <div class="desc">

                                        <p>item</p>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="img">

                                    <img src="/imgs/utilities/dummy-image.png" alt="">
                                </div>
                                <div class="info">
                                    <div class="desc">

                                        <p>item</p>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="img">

                                    <img src="/imgs/utilities/dummy-image.png" alt="">
                                </div>
                                <div class="info">
                                    <div class="desc">

                                        <p>item</p>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="img">

                                    <img src="/imgs/utilities/dummy-image.png" alt="">
                                </div>
                                <div class="info">
                                    <div class="desc">

                                        <p>item</p>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="img">

                                    <img src="/imgs/utilities/dummy-image.png" alt="">
                                </div>
                                <div class="info">
                                    <div class="desc">

                                        <p>item</p>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="img">

                                    <img src="/imgs/utilities/dummy-image.png" alt="">
                                </div>
                                <div class="info">
                                    <div class="desc">

                                        <p>item</p>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="img">

                                    <img src="/imgs/utilities/dummy-image.png" alt="">
                                </div>
                                <div class="info">
                                    <div class="desc">

                                        <p>item</p>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="img">

                                    <img src="/imgs/utilities/dummy-image.png" alt="">
                                </div>
                                <div class="info">
                                    <div class="desc">

                                        <p>item</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <a href="#" class="cluster_url">see more</a>
                    </div>
                </div>
            </div>

        </section>
        <section id="maths">
            <div class="wrapper">
                <a href="#">
                    <h2 class="section_title">Maths</h2>
                </a>
                <div class="container horizontal-slider">
                    <button class="scroll-left-btn">
                        &lt; </button>
                    <button class="scroll-right-btn">&gt;</button>
                    <div class="cards">
                        <div class="card">
                            <div class="img">
                                <img src="/imgs/utilities/dummy-image.png" alt="">
                            </div>
                            <div class="info">
                                <h3 class="card_title">Differentiation</h3>
                                <p class="desc">
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam distinctio
                                    corporis, rem nesciunt iste error officia, temporibus harum quasi optio
                                    quibusdam cumque enim similique fuga adipisci atque eaque, exercitationem
                                    delectus.
                                </p>
                            </div>
                        </div>
                        <div class="card">
                            <div class="img">
                                <img src="/imgs/utilities/dummy-image.png" alt="">
                            </div>
                            <div class="info">
                                <h3 class="card_title">Integration</h3>
                                <p class="desc">
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam distinctio
                                    corporis, rem nesciunt iste error officia, temporibus harum quasi optio
                                    quibusdam cumque enim similique fuga adipisci atque eaque, exercitationem
                                    delectus.
                                </p>
                            </div>
                        </div>
                        <div class="card">
                            <div class="img">
                                <img src="/imgs/utilities/dummy-image.png" alt="">
                            </div>
                            <div class="info">
                                <h3 class="card_title">Statistics</h3>
                                <p class="desc">
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam distinctio
                                    corporis, rem nesciunt iste error officia, temporibus harum quasi optio
                                    quibusdam cumque enim similique fuga adipisci atque eaque, exercitationem
                                    delectus.
                                </p>
                            </div>
                        </div>
                        <div class="card">
                            <div class="img">
                                <img src="/imgs/utilities/dummy-image.png" alt="">
                            </div>
                            <div class="info">
                                <h3 class="card_title">Probability</h3>
                                <p class="desc">
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam distinctio
                                    corporis, rem nesciunt iste error officia, temporibus harum quasi optio
                                    quibusdam cumque enim similique fuga adipisci atque eaque, exercitationem
                                    delectus.
                                </p>
                            </div>
                        </div>
                        <div class="card">
                            <div class="img">
                                <img src="/imgs/utilities/dummy-image.png" alt="">
                            </div>
                            <div class="info">
                                <h3 class="card_title">Linear Algebra</h3>
                                <p class="desc">
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam distinctio
                                    corporis, rem nesciunt iste error officia, temporibus harum quasi optio
                                    quibusdam cumque enim similique fuga adipisci atque eaque, exercitationem
                                    delectus.
                                </p>
                            </div>
                        </div>
                        <div class="card">
                            <div class="img">
                                <img src="/imgs/utilities/dummy-image.png" alt="">
                            </div>
                            <div class="info">
                                <h3 class="card_title">Abstract Algebra</h3>
                                <p class="desc">
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam distinctio
                                    corporis, rem nesciunt iste error officia, temporibus harum quasi optio
                                    quibusdam cumque enim similique fuga adipisci atque eaque, exercitationem
                                    delectus.
                                </p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </section>
        <section id="physics">
            <div class="wrapper">
                <a href="#">
                    <h2 class="section_title">Physics</h2>
                </a>
                <div class="container horizontal-slider">
                    <button class="scroll-left-btn">
                        &lt; </button>
                    <button class="scroll-right-btn"> &gt; </button>
                    <div class="cards">
                        <div class="card">
                            <div class="img">
                                <img src="/imgs/utilities/dummy-image.png" alt="">
                            </div>
                            <div class="info">
                                <h3 class="card_title">Classical Physics</h3>
                                <p class="desc">
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam distinctio
                                    corporis, rem nesciunt iste error officia, temporibus harum quasi optio
                                    quibusdam cumque enim similique fuga adipisci atque eaque, exercitationem
                                    delectus.
                                </p>
                            </div>
                        </div>
                        <div class="card">
                            <div class="img">
                                <img src="/imgs/utilities/dummy-image.png" alt="">
                            </div>
                            <div class="info">
                                <h3 class="card_title">Modern Physics</h3>
                                <p class="desc">
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam distinctio
                                    corporis, rem nesciunt iste error officia, temporibus harum quasi optio
                                    quibusdam cumque enim similique fuga adipisci atque eaque, exercitationem
                                    delectus.
                                </p>
                            </div>
                        </div>


                    </div>
                </div>
            </div>

        </section>
        <section id="languages">
            <div class="wrapper">
                <a href="#">
                    <h2 class="section_title">languages</h2>
                </a>
                <div class="container horizontal-slider">
                    <button class="scroll-left-btn">
                        &lt; </button>
                    <button class="scroll-right-btn">&gt;</button>
                    <div class="cards">
                        <div class="card">
                            <div class="img">
                                <img src="/imgs/utilities/dummy-image.png" alt="">
                            </div>
                            <div class="info">
                                <h3 class="card_title">Arabic</h3>
                                <p class="desc">
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam distinctio
                                    corporis, rem nesciunt iste error officia, temporibus harum quasi optio
                                    quibusdam cumque enim similique fuga adipisci atque eaque, exercitationem
                                    delectus.
                                </p>
                            </div>
                        </div>
                        <div class="card">
                            <div class="img">
                                <img src="/imgs/utilities/dummy-image.png" alt="">
                            </div>
                            <div class="info">
                                <h3 class="card_title">English</h3>
                                <p class="desc">
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam distinctio
                                    corporis, rem nesciunt iste error officia, temporibus harum quasi optio
                                    quibusdam cumque enim similique fuga adipisci atque eaque, exercitationem
                                    delectus.
                                </p>
                            </div>
                        </div>
                        <div class="card">
                            <div class="img">
                                <img src="/imgs/utilities/dummy-image.png" alt="">
                            </div>
                            <div class="info">
                                <h3 class="card_title">Urdu</h3>
                                <p class="desc">
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam distinctio
                                    corporis, rem nesciunt iste error officia, temporibus harum quasi optio
                                    quibusdam cumque enim similique fuga adipisci atque eaque, exercitationem
                                    delectus.
                                </p>
                            </div>
                        </div>

                        <div class="card">
                            <div class="img">
                                <img src="/imgs/utilities/dummy-image.png" alt="">
                            </div>
                            <div class="info">
                                <h3 class="card_title">Persian</h3>
                                <p class="desc">
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam distinctio
                                    corporis, rem nesciunt iste error officia, temporibus harum quasi optio
                                    quibusdam cumque enim similique fuga adipisci atque eaque, exercitationem
                                    delectus.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </section>

        <section id="featured">
            <div class="wrapper">
                <a href="#">

                    <h2 class="section_title">Featured</h2>
                </a>
                <div class="container featured-product">
                    <div class="card">
                        <div class="img">
                            <img src="/imgs/utilities/dummy-image.png" alt="">
                        </div>
                        <div class="info">
                            <h3 class="card_title">Featured Product</h3>
                            <div class="desc">
                                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iure doloribus atque quae
                                illum
                                eum porro quasi, rem in ea quam natus et. Quae, repellendus. Error dolorum ab recusandae
                                voluptates perferendis.
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </section>
        <section id="more">
            <div class="wrapper">
                <a href="#">
                    <h2 class="section_title">More Products</h2>
                </a>
                <div class="container grid col-2">
                    <div class="card">
                        <div class="img">
                            <img src="/imgs/utilities/dummy-image.png" alt="">
                        </div>
                        <div class="info">
                            <h3 class="card_title">Classical Physics</h3>
                            <p class="desc">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam distinctio corporis, rem
                                nesciunt iste error officia, temporibus harum quasi optio quibusdam cumque enim
                                similique
                                fuga adipisci atque eaque, exercitationem delectus.
                            </p>
                        </div>
                    </div>
                    <div class="card">
                        <div class="img">
                            <img src="/imgs/utilities/dummy-image.png" alt="">
                        </div>
                        <div class="info">
                            <h3 class="card_title">Modern Physics</h3>
                            <p class="desc">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam distinctio corporis, rem
                                nesciunt iste error officia, temporibus harum quasi optio quibusdam cumque enim
                                similique
                                fuga adipisci atque eaque, exercitationem delectus.
                            </p>
                        </div>
                    </div>
                    <div class="card">
                        <div class="img">
                            <img src="/imgs/utilities/dummy-image.png" alt="">
                        </div>
                        <div class="info">
                            <h3 class="card_title">Classical Physics</h3>
                            <p class="desc">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam distinctio corporis, rem
                                nesciunt iste error officia, temporibus harum quasi optio quibusdam cumque enim
                                similique
                                fuga adipisci atque eaque, exercitationem delectus.
                            </p>
                        </div>
                    </div>
                    <div class="card">
                        <div class="img">
                            <img src="/imgs/utilities/dummy-image.png" alt="">
                        </div>
                        <div class="info">
                            <h3 class="card_title">Modern Physics</h3>
                            <p class="desc">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam distinctio corporis, rem
                                nesciunt iste error officia, temporibus harum quasi optio quibusdam cumque enim
                                similique
                                fuga adipisci atque eaque, exercitationem delectus.
                            </p>
                        </div>
                    </div>
                    <div class="card">
                        <div class="img">
                            <img src="/imgs/utilities/dummy-image.png" alt="">
                        </div>
                        <div class="info">
                            <h3 class="card_title">Classical Physics</h3>
                            <p class="desc">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam distinctio corporis, rem
                                nesciunt iste error officia, temporibus harum quasi optio quibusdam cumque enim
                                similique
                                fuga adipisci atque eaque, exercitationem delectus.
                            </p>
                        </div>
                    </div>
                    <div class="card">
                        <div class="img">
                            <img src="/imgs/utilities/dummy-image.png" alt="">
                        </div>
                        <div class="info">
                            <h3 class="card_title">Modern Physics</h3>
                            <p class="desc">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam distinctio corporis, rem
                                nesciunt iste error officia, temporibus harum quasi optio quibusdam cumque enim
                                similique
                                fuga adipisci atque eaque, exercitationem delectus.
                            </p>
                        </div>
                    </div>
                    <div class="card">
                        <div class="img">
                            <img src="/imgs/utilities/dummy-image.png" alt="">
                        </div>
                        <div class="info">
                            <h3 class="card_title">Classical Physics</h3>
                            <p class="desc">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam distinctio corporis, rem
                                nesciunt iste error officia, temporibus harum quasi optio quibusdam cumque enim
                                similique
                                fuga adipisci atque eaque, exercitationem delectus.
                            </p>
                        </div>
                    </div>
                    <div class="card">
                        <div class="img">
                            <img src="/imgs/utilities/dummy-image.png" alt="">
                        </div>
                        <div class="info">
                            <h3 class="card_title">Modern Physics</h3>
                            <p class="desc">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam distinctio corporis, rem
                                nesciunt iste error officia, temporibus harum quasi optio quibusdam cumque enim
                                similique
                                fuga adipisci atque eaque, exercitationem delectus.
                            </p>
                        </div>
                    </div>
                </div>
            </div>

        </section>
        <section id="special">
            <div class="wrapper">
                <a href="#">

                    <h2 class="section_title">Special</h2>
                </a>
                <div class="container special-product">
                    <div class="card">
                        <div class="img">
                            <img src="/imgs/utilities/dummy-image.png" alt="">
                        </div>
                        <div class="info">
                            <h3 class="card_title">Special Product</h3>
                            <div class="desc">
                                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iure doloribus atque quae
                                illum
                                eum porro quasi, rem in ea quam natus et. Quae, repellendus. Error dolorum ab recusandae
                                voluptates perferendis.
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </section>
    </main>
    <footer id="footer__index">
        <div class="wrapper">
            <div class="container grid r-col-4">
                <div class="col">
                    <a href="#">
                        <div class="logo"><img src="" alt="LOGO"></div>
                    </a>

                </div>
                <div class="col">
                    <h3 class="sub_title">Cources</h3>
                    <ul>
                        <li><a href="#">Lanuages</a></li>
                        <li><a href="#">Computer Science</a></li>
                        <li><a href="#">Maths</a></li>
                        <li><a href="#">Physics</a></li>

                    </ul>
                </div>
                <div class="col">
                    <h3 class="sub_title">Earn Money</h3>
                    <ul>
                        <li><a href="#">work with us</a></li>
                    </ul>
                </div>
                <div class="col">
                    <ul>
                        <li><a href="#">about us</a></li>
                        <li><a href="#">contact us</a></li>
                        <li><a href="#">link 1</a></li>
                        <li><a href="#">link 2</a></li>
                    </ul>
                </div>
            </div>
        </div>

    </footer>
</body>
<script src="/js/script.js"></script>
<script>
    let currentIndex = 0;
    let intervalId;


    const slides = document.querySelectorAll(".slide")
    const dots = document.querySelectorAll('.dot');



    function showSlide(index) {
        const slideWidth = slides[0].offsetWidth;

        index = (index + 1) % slides.length

        slides[index].style.transform = `translateX(-${index * slideWidth}px)`;

        // Update active dot
        dots.forEach((dot, i) => {
            dot.classList.toggle('active', i === currentIndex);
        });
    }

    function nextSlide() {
        currentIndex = (currentIndex + 1) % slides.length;
        showSlide(currentIndex);
    }


    // Attach click events
    dots.forEach((dot, i) => {
        dot.addEventListener('click', () => showSlide(i));
    });



    // Initial setup
    showSlide(currentIndex);
</script>

</html>
